[Unit]
Description=consul-template

[Service]
Restart=on-failure
ExecStart=/usr/bin/consul-template -config=/etc/consul-templates/configs
KillMode=process
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
